@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400..700&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --primary: #FAC319;
  --secondary: #4B1313;
  --light: #fff;
  --dark: #211616;
  --muted: #A98585;
}
.absolute {
  position: absolute;
}
.overflow-hidden {
  overflow: hidden;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button:disabled {
  opacity: .2;
  cursor: not-allowed;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
html, body {
  height: 100%;
}
body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(#fac319a6, #0303048c), url(../images/background.jpeg);
  background-size: cover;
  position: relative;
}
.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 88px;
  font-weight: bold;
  letter-spacing: 6px;
  align-items: center;
  justify-content: center;
}
#lose {
  background: var(--dark);
  color: var(--light);
}
#win {
  background: var(--primary);
  color: var(--light);
}
header {
  padding: 8px 15px;
  box-sizing: border-box;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}
header .brand {
  height: 50px;
  background-image: url(../images/brand.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 72px;
  display: inline-flex;
  align-items: center;
  color: var(--light);
}
main {
  height: 100%;
  padding-top: calc(66px + 30px);
  top: 0;
  left: 0;
  box-sizing: border-box;
}
main #stage {
  left: 0;
  right: 0;
  max-width: 800px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  main #stage {
    left: 0;
    right: 0;
    max-width: 580px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
  }
}
main #stage #chip-tray {
  width: 280px;
  height: 280px;
  bottom: 0;
  left: 15px;
  position: absolute;
}
main #stage #frame {
  width: 250px;
  height: 339px;
  border: 2px solid #ffffff85;
  border-radius: 10px;
  box-shadow: rgb(255 255 255 / 57%) 0px 4px 12px;
  animation: shine .6s infinite;
  position: absolute;
  right: 15px;
  font-size: 28px;
  font-family: 'Pixelify Sans';
  color: #fff;
}
main #start {
  width: 100%;
  height: 68px;
  bottom: 0;
  background-color: var(--primary);
  z-index: 9;
  font-size: 20px;
  transition: all .2s ease-in-out;
}
main #start:hover {
  background-color: var(--dark);
  color: var(--light);
}
main #panel {
  width: 100%;
  bottom: 0;
}
main #panel > * {
  background-color: #00000087;
  flex: 1;
  font-size: 22px;
  height: 68px;
  color: var(--light);
}
@media only screen and (max-width: 768px) {
  main #panel > * {
    font-size: 16px;
  }
}
main #panel > *:not(:last-child) {
  border-right: 1px solid #ffffff1f;
}
main #panel button {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--light);
  transition: all .2s ease-in-out;
}
main #panel button#plus,
main #panel button#minus {
  height: 100%;
  width: 20%;
}
main #panel button:hover {
  background-color: var(--primary);
}
main #panel input  {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  background: transparent;
  color: var(--primary);
  border: 0;
  height: 100%;
  text-align: center;
  padding: 0;
}
main #panel #bet {
  width: 25%;
}
main #panel {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-size: 35px;
}
main #panel #balance::after {
  content: counter(balance);
}
.chip {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40px;
  right: 58px;
  background-image: url(../images/chip.png);
  background-size: contain;
  animation: chipdealing .5s;
}
.chip-moveout {
  animation: chipmoveout .8s;
}
.poker {
  width: 205px;
  height: 288px;
  position: absolute;
  top: 26px;
  left: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
  animation: pokerdealing .6s;
}
.poker-flip {
  animation: pokerflip .6s;
}
@keyframes shine {
  0% {
    box-shadow: rgb(255 255 255 / 80%) 0px 4px 12px;
  }
  100% {
    box-shadow: rgb(255 255 255 / 25%) 0px 4px 12px;
  }
}
@keyframes pokerdealing {
  0% {
    width: 138px;
    height: 195px;
    top: 450px;
    left: 420px;
    background-image: url(../images/pokers/back.png);
    transform: rotate3d(47, 0, 84, 300deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes chipdealing {
  0% {
    top: 850px;
    left: -280px;
  }
}
@keyframes chipmoveout {
  100% {
    top: 850px;
    left: -280px;
  }
}
@keyframes pokerflip {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}